@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "微软雅黑";
}
a {
	text-decoration: none;
}
#banner{
	height: 700px;
	background: #777;
}
nav {
	height: 50px;
	background: #444;
	line-height: 50px;
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
	line-height: 50px;
	float: right;
	margin-right: 20px;
}
nav ul li a{
	display: inline-block;
	height: inherit;
	line-height: inherit;
}
nav .logo {
	float: left;
	letter-spacing: 2px;
	line-height: inherit;
	font-size: 20px;
	color:#eee;
	font-weight: 700;
	margin-left: 10px;
}
#banner .inner{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 160px;
}
.inner button{
	margin-top: 20px;
	border: none;
	color: #fff;
	font-size: 16px;
	padding: 0.5em;
	background-color: #99f;


}
.inner h2{
	border-top: 1px #fff solid;
	border-bottom: 1px #fff solid;
	padding: 1.5em;
}
.inner p{
	line-height: 30px;
	margin-top: 20px;
}
