@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
html{

}
body{
	font-size: 14px;
	font-family: "微软雅黑";
	background-color:#87CEEB;
	height: 100%;
}
.page{
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
.main{
}
.input_content{
	padding: 50px;
}
.input_text input{
	margin-bottom: 25px;
	width: 200px;
	height: 25px;
}